<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container row mb-5 mx-auto">
  <!-- select option -->
  <div class="select-container mt-5 row col-12 justify-content-end">
    <div class=" form-group mb-1">
      <!--  location = the location (URL) of the object it is linked to -->
      <select class="form-control {{#if keyword}}invisible{{/if}}" id="selector" onchange="location = this.value;">
        <option disabled selected> -- Select here -- </option>
        <option value="/restaurants/sort/name/asc" {{ifEquals select 'name' sorting 'asc' }}>A - Z</option>
        <option value="/restaurants/sort/name/desc" {{ifEquals select 'name' sorting 'desc' }}>Z - A</option>
        <option value="/restaurants/sort/category/asc" {{ifEquals select 'category' sorting 'asc' }}>類別</option>
        <option value="/restaurants/sort/rating/desc" {{ifEquals select 'rating' sorting 'desc' }}>評價(高 - 低)</option>
        <option value="/restaurants/sort/rating/asc" {{ifEquals select 'rating' sorting 'asc' }}>評價(低 - 高)</option>
      </select>
    </div>
  </div>

  {{#each restaurants}}
    <div class="text-center col-sm-12 col-md-4 col-lg-4 mb-3">
      <a href="/restaurants/{{this._id}}" class="text-secondary col">
        <div class="card mb-3 h-100">
          <img class="card-img-top mt-3" src="{{this.image}}" alt="{{this.name}}">
          <div class="card-body p-2">
            <h6 class="card-title mb-1 ">{{this.name}}</h6>

            <div class="restaurant-category mb-1 ">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <div class="rating  pb-1">
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>

            <div class="container row">
              <div class="col-12">
                <a class="icon text-muted mr-2" id="edit" href="/restaurants/{{this._id}}/edit">
                  <i class="fas fa-edit"></i>
                </a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="post" style="display: inline;"
                  onsubmit="return deleteAlert()">
                  <button type="submit" class="text-muted" style="border: none; background:none">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</div>

<h1 class="test">{{#ifEquals select 'name'}}{{/ifEquals}}</h1>