<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container row mb-5 mx-auto">
  <!-- select option -->
  <div class="select-container mt-5 row col-12 justify-content-end">
    <form action="/restaurants/sort">
      <div class=" form-group mb-1">
        <select class="form-control {{#if keyword}}invisible{{/if}} {{#checkLength restaurants}}invisible{{/checkLength}}" name="select" id="select" onchange="this.form.submit()">
          <option disabled selected> -- Select here -- </option>
          <option value="name" {{ ifEquals select 'name' }}>A - Z</option>
          <option value="-name" {{ ifEquals select '-name' }}>Z - A</option>
          <option value="category" {{ ifEquals select 'category' }}>類別</option>
          <option value="-rating" {{ ifEquals select '-rating' }}>評價(高 - 低)</option>
          <option value="rating" {{ ifEquals select 'rating' }}>評價(低 - 高)</option>
        </select>
      </div>
    </form>
  </div>

  {{#each restaurants}}
    <div class="text-center col-sm-12 col-md-4 col-lg-4 mb-3">
      <a href="/restaurants/{{this._id}}" class="text-secondary col">
        <div class="card mb-3 h-100">
          <img class="card-img-top mt-3" src="{{#if this.image}}{{this.image}}{{else}}https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fc4879fce-690e-4f16-872f-45d6153ffe76%2Fno_image.001.jpeg?table=block&id=5c8818ba-6040-424a-9a3d-cb63473c9753&spaceId=50853aaf-6eef-43fd-acee-8ea9d939e48d&width=2050&userId=&cache=v2{{/if}}" alt="{{this.name}}">
          <div class="card-body p-2">
            <h6 class="card-title mb-1 ">{{this.name}}</h6>

            <div class="restaurant-category mb-1 ">
              <i class="fas fa-utensils pr-2"></i> {{this.category}}
            </div>

            <div class="rating  pb-1">
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>

            <div class="container row">
              <div class="col-12">
                <a class="icon text-muted mr-2" id="edit" href="/restaurants/{{this._id}}/edit">
                  <i class="fas fa-edit"></i>
                </a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="post" style="display: inline;"
                  onsubmit="return deleteAlert()">
                  <button type="submit" class="text-muted" style="border: none; background:none">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
</div>